:root {
    --couleur-valorant-principal: #FF4655;
  } 
@font-face {
    font-family: valorant;
    src: url(fonts/Valorant\ Font.ttf);
}

html,body {
    margin: 0;
}

body {
    background: rgb(250, 250, 250);
    background: linear-gradient(328deg, #e3114d 0%, #f6848e 100%) no-repeat;
    font-family: verdana;
    font-size: 16px;
    min-height: 100vh;
}

main {
    border: 2px solid #ff1A1A1A(252, 100, 100);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    max-width: 900px;
    margin: 0 auto;
    padding: 25px;
}

h1 {
    font-family: "valorant", sans-serif;
    color: var(--couleur-valorant-principal);
    text-align: center;
    font-size: 50px;
}

p {
    margin: 0;
    margin-bottom: 25px;
}

a {
    color: var(--couleur-valorant-principal);
    text-decoration: none;
}

a.retour {
    color: rgb(25, 25, 25);
    background: rgb(255, 113, 113);
    padding: 14px 25px;
    border-radius:8px;
    display: inline-block;
    

}
.retour:hover {
    background-color: var(--couleur-valorant-principal);
}
  

ol {
    color: var(--couleur-valorant-principal)
}

.aligner-centre {
    text-align: center;
}

h2.sous-titre {
    text-align: center;
}



  
