@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --couleur-valorant-principal: #FF4655;
    --couleur-valorant-principal-foncee: #cc3340;
    --couleur-fond-text: rgb(251, 251, 251);
    --couleur-texte-principal: #1A1A1A;
    --couleur-ombre: rgb(49, 49, 49);
}

@font-face {
    font-family: valorant;
    src: url(fonts/Valorant\ Font.ttf);
}

html,
body {
    margin: 0;
}

body {
    background: var(--couleur-valorant-principal-foncee);
    background: linear-gradient(-10deg, var(--couleur-valorant-principal) 0%, var(--couleur-valorant-principal-foncee) 100%) no-repeat;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    color: var(--couleur-texte-principal);
}

.navbar {
    background: var(--couleur-fond-text);
    padding: 10px;
    left: 0px;
    right: 0px;
    box-shadow: 0 0 10px -4px var(--couleur-ombre);
    position: fixed;
    z-index: 1;
    text-align: center;



}

main {
    background-color: var(--couleur-fond-text);
    max-width: 900px;
    margin: 0 auto;
    padding: 25px;
    padding-top: 90px;
    box-shadow: 0 0 10px -4px var(--couleur-ombre);
}

h1 {
    font-family: "valorant", sans-serif;
    color: var(--couleur-valorant-principal);
    text-align: center;
    font-size: 50px;
}

p {
    margin: 0;
    margin-bottom: 25px;
}

a {
    color: var(--couleur-valorant-principal);
    text-decoration: none;
}

a.bouton {
    color: var(--couleur-texte-principal);
    background: var(--couleur-valorant-principal);
    padding: 14px 25px;
    border-radius: 8px;
    display: inline-block;


}

.bouton:hover {
    background-color: var(--couleur-valorant-principal-foncee);
}


ol {
    color: var(--couleur-valorant-principal)
}

.aligner-centre {
    text-align: center;
}

h2.sous-titre {
    text-align: center;
}

img.large {
    max-width: 100%;
    height: auto;
}

.boutons {
    display: flex;
    justify-content: space-between;
}
footer{
    background: var(--couleur-texte-principal);
    color: var(--couleur-valorant-principal);
    padding: 150px;
    margin-top: 50px;
    text-align: center;
}